div {
  margin: 20px;
  text-align: center;
  border: 2px solid #ccc;
  padding: 10px;
}
button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  background-color: aquamarine;
  color: brown;
  border-bottom: 5px ridge #e756db;
  border-radius: 5px;
}
input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #e756db;
  border-radius: 5px;
}

p {
  font-size: 18px;
  color: #333;
  margin-top: 20px;
}